@font-face {
    font-family: 'Belisa';
    src: url("./fonts/belisa_plumilla.ttf");
}

@font-face {
    font-family: 'Big Dont Starve';
    src: url("./fonts/BigDonstarve/bigdonstarve.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
    margin: 0;
    padding: 0px;
    font-family: 'Belisa';
    letter-spacing: 1px;
}

button {
    background-color: #e1c275;
    color: #1c1611;
    border: 4px solid #e1c275;
    border-radius: 10px;
    padding: 10px 40px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
}

button:hover {
    background-color: #E5E7EB;
    border: 4px solid #E5E7EB;
    cursor: pointer;
}

.style1 {
    margin-bottom: 100px;
    padding: 20px 250px;
    background-color: #1c1611;
}

.Navigation-Bar {
    margin-bottom: 120px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.Main-Info {
    margin-bottom: 100px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: flex-start;
}

.Hero.Main {
    font-family: 'Big Dont Starve';
    color: #F9FAF8;
    font-size: 80px;
    margin-bottom: -20px;
}

.Hero.Logo {
    color: #F9FAF8;
    font-size: 32px;
    flex-grow: 1;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.Logo-Image {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.Hero.Secondary {
    flex-wrap: wrap;
    color: #E5E7EB;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: justify;
}

.Hero.Subtitle {
    color: #E5E7EB;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Open Sans';
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}

.Info-Header.text {
    text-align: center;
    font-size: 46px;
    color: #1F2937;
    font-weight: 900;
}

.Info {
    flex-flow: row wrap;
    background-color: white;
    margin-bottom: 100px;
    padding: 0px 350px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
}

.Image-Link {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.Image {
    background-color: #e1c275;
    border: 4px solid #e1c275;
    border-radius: 24px;
    height: 150px;
    width: 200px;
    object-fit: contain;
    padding: 15px;
}

.Text {
    color: #1F2937;
    padding: 10px 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.Description {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.Quote {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    background-color: #e1c275;
    margin-bottom: 100px;
    padding: 150px 450px;
}

.italic {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 25px;
}

.author {
    color: #1f2936;
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.Action {
    margin: 100px 300px;
    padding: 50px 100px;
    border-radius: 10px;
    background: #1c1611;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Action .Text {
    display: flex;
    flex-flow: column wrap;
    color: #f9faf8;
    text-align: left;
}

.Text .Main {
    font-size: 28px;
    font-weight: 900;
}

.Text .Secondary {
    font-size: 20px;
    font-weight: 500;
}

.button2 {
    background-color: #1c1611;
    color: #F9FAF8;
    border: 4px solid #f9faf8;
    border-radius: 10px;
    padding: 10px 40px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 900;
}

.button2:hover {
    background-color: #e1c275;
    color: #1c1611;
    border: 4px solid #f9faf8;
    cursor: pointer;
}

.Copyright {
    background-color: #1c1611;
    color:#F9FAF8;
    text-align: center;
    font-size: 16px;
    padding: 30px 250px;
}